/* - Mobile: 375px
- Desktop: 1440px

- Soft blue: hsl(215, 51%, 70%)
- Cyan: hsl(178, 100%, 50%)

- Very dark blue (main BG): hsl(217, 54%, 11%)
- Very dark blue (card BG): hsl(216, 50%, 16%)
- Very dark blue (line): hsl(215, 32%, 27%)
- White: hsl(0, 0%, 100%)

- Font size (paragraph): 18px
- Weights: 300, 400, 600
font-family: 'Outfit', sans-serif; */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    max-width: 100%;
    border-radius: 1rem;

}
ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
    border-bottom: 1px solid hsl(215, 32%, 27%);
}
body {
    background-color: hsl(217, 54%, 11%);
    font-family: 'Outfit', sans-serif; 
    font-size: 18px;
    padding: 1.25rem;
}
.container {
    background-color: hsl(216, 50%, 16%);
    color: hsl(0, 0%, 100%, 70%);
    padding: 2rem;
    border-radius: 0.6rem;
    margin-bottom: 1rem;
    
}
p {
    font-weight: 300;
}
h2 {
    color: white;
    margin: 1rem 0;
}
.container ul li:first-child {
    color: hsl(178, 100%, 50%);
    
}
.container ul li {
    display: flex;
    align-items: center;
}
.container ul li img {
    margin-right: 0.5rem;
}
.container .avatar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 2rem;
}
.container .avatar img {
    width: 2.5rem;
    border: 3px solid hsl(0, 0%, 100%, 70%);
    border-radius: 50%;
    margin-right: 1.5rem;

}
span {
    color: white;
    font-weight: 400;
}
span:hover {
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}
h2:hover {
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}
.container .main-img img:hover {
    cursor: pointer;

}
.container .main-img {
    position: relative;
}
.container .main-img .overlay {
    position: absolute;
    top: 0;
    background-color: hsl(178, 100%, 50%, 65%);
    width: 100%;
    height: calc(100%-4px);
    z-index: 999;
    opacity: 0;
    border-radius: 1rem;
    transition: opacity 0.3s ease-in-out;
}
.container .main-img .overlay img {
    display: block;
    width: auto;
    margin: 44%;
}
.container .main-img .overlay:hover {
    opacity: 1;
    cursor: pointer;
}





@media(min-width: 500px)  {
    .container {
        width: 450px;
        margin: 0 auto 1rem;
    }
}